.mainContainer {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--primary-shade);
  color: var(--secondary-shade);

  .contentContainer {
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;

    .downArrow {
      position: sticky;
      bottom: 139px;
      left: 75px;
    }
  }
}
