.mainContainer {
  /* TODO: make a page component which is abs positioned and 100vh and 100vw */

  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  background-color: var(--primary-shade);
  color: var(--secondary-shade);

  .contentContainer {
    max-width: 1500px;
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;

    @media (max-width: 1200px) {
      padding: 100px 30px;
    }
  }
}
