.mainContainer {
  min-height: 100vh;
  background-color: var(--primary-shade);

  .linksContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 100px;
    left: 193px;
    width: 700px;

    .link {
      font-size: 40px;
      text-decoration: none;
      color: var(--secondary-shade);
      font-weight: var(--default-font-weight);
    }
  }

  .socialIconsContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 100px;
    right: 100px;
    width: 137px;
  }

  .downArrow {
    position: sticky;
    bottom: 139px;
    left: 75px;
  }
}

.introContentContainer {
  border-width: 0;
  border-left: 6px solid;
  border-image: linear-gradient(var(--secondary-shade), var(--primary-shade)) 0
    100%;
  padding-left: 20px;
  animation-name: textFadeInTranslateUp;
  animation-duration: 3s;
}

.bounce {
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes textFadeInTranslateUp {
  0% {
    opacity: 0%;
    transform: translateY(-20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
