  .container {
    height: 100vh;
    color: var(--secondary-shade);
    display: flex;
    justify-content: center;
    align-items: center;
  
    .contentContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 80%;
      height: 282px;
  
  
      .title {
        font-weight: var(--default-font-weight);
        font-size: 106px;
      }
  
      .subtext {
        font-weight: var(--default-font-weight);
        font-size: 40px;
      }
    }
  }